/* Main wrapper with background image */
.edit-department-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 86vh;
    background-image: url('../assets/EditDepartment.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    width: 97%;
}

/* Content container styling */
.edit-department-container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.705); /* White with transparency */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Heading style */
.edit-department-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #233727;
    font-family: 'Georgia', serif;
}

/* Table styling */
.edit-department-container table {
    margin: 0 auto;
    width: 100%;
}

/* Table cell and input styling */
.edit-department-container td {
    padding: 10px;
    text-align: left;
}

.edit-department-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Georgia', serif;
}

.edit-department-container select {
    width: 114%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Georgia', serif;
}

.edit-department-container input:focus,
.edit-department-container select:focus {
    border-color: #44b046;
    outline: none;
    box-shadow: 0 0 5px rgba(68, 176, 70, 0.5);
}

/* Button styling */
.edit-department-container button {
    padding: 10px 20px;
    background-color: #447946;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'Georgia', serif;
    width: 100%;
}

.edit-department-container button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.edit-department-container p {
    text-align: center; /* Center the message */
    color: #000000; /* Red color for error messages */
    font-size: 1em;
    margin-top: 1px;
}

/* Message styling */
.message {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}
