/* LoginPage.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-image: url('../assets/login1.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center -1100px; /* Center the image */
    color: rgb(5, 32, 11); /* Text color */
    margin-bottom: -50px;
    margin-top: -40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Text shadow for better readability */
    font-family: 'Georgia', serif;
}

.login-form {
    background: #cab8a6a0; /* Semi-transparent background for the form */
    border-radius: 15px; /* Rounded corners */
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    width: 350px; /* Fixed width for the form */
    font-family: 'Georgia', serif;
}

.login-form h2 {
    margin-bottom: 20px; /* Space below the heading */
    text-align: center; /* Center the heading */
    font-family: 'Georgia', serif;
    text-shadow: none;
}

.login-form table {
    width: 100%; /* Full width of the form */
    font-family: 'Georgia', serif;
}

.login-form label {
    font-weight: bold; /* Bold labels */
    font-family: 'Georgia', serif;
    text-shadow: none;
}

.login-form input {
    width: 90%; /* Full width input */
    padding: 10px; /* Padding for inputs */
    margin-top: 5px; /* Space above inputs */
    margin-bottom: 25px; /* Space below inputs */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-family: 'Georgia', serif;
}

.login-form input:focus,
.login-form select:focus {
    border-color: #064007;
    outline: none;
    box-shadow: 0 0 5px rgba(4, 59, 5, 0.5);
}

.login-button {
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Button font size */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    background-color: rgba(24, 99, 32, 0.8); /* Semi-transparent blue */
    color: white; /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
    width: 100%; /* Full width button */
    font-family: 'Georgia', serif;
}

.login-button:hover {
    background-color: rgb(24, 77, 41); /* Solid blue on hover */
}

.forgot-password {
    display: block; /* Block link for better layout */
    text-align: center; /* Center the link */
    color: rgba(5, 14, 0, 1); /* Light color for the link */
    margin-top: 10px; /* Space above link */
    font-family: 'Georgia', serif;
    font-size: 1em;
    text-shadow: none;
}

.message {
    margin-bottom: -20px; /* Space above message */
    font-size: 1em; /* Message font size */
    color: #171717; /* Message text color */
    text-shadow: 1px 1px 1px rgba(157, 153, 153, 0.7); 
}