.edit-manmainatt-wrapper {
    position: relative; /* Allow positioning of child elements */
    height: 88vh; /* Full height of the viewport */
    width: 100%; /* Full width */
    background-image: url('../assets/manmaineditatt.jpg'); /* Background image */
    background-size: cover; /* Cover the entire area */
    background-position: center -1000px; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repetition */
}

.edit-manmainatt-container {
    max-width: 740px; /* Set a max width for the form container */
    margin: 50px auto; /* Center the container */
    height: 536px;
    padding-left: -100px; /* Add padding */
    margin-top: -10px;
    position: relative;
    top: 56px;
    border: 1px solid rgba(255, 255, 255, 0.308); /* Translucent border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    background-color: rgba(255, 255, 255, 0.726); /* White background with transparency */
    font-family: 'Georgia', serif;
}

.edit-manmainatt-container h2 {
    text-align: center; /* Center the heading */
    color: #333; /* Darker color for the heading */
    margin-top: 15px;
}

.edit-manmainatt-container table {
    width: 200%; /* Full width table */
    border-collapse: collapse; /* Collapse borders */
    margin-left: -1000px;
    padding: 10px;
}

.edit-manmainatt-container table td {
    padding: 5px; /* Padding for table cells */
}

.edit-manmainatt-container select {
    width: 105%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Georgia', serif;
}

.edit-manmainatt-container input:focus,
.edit-manmainatt-container select:focus {
    border-color: #44b046;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 255, 4, 0.5);
}

.edit-manmainatt-container input[type="text"],
.edit-manmainatt-container input[type="number"],
.edit-manmainatt-container input[type="date"] {
    width: 100%; /* Full width input fields */
    padding: 6px; /* Padding inside inputs */
    border: 1px solid #ccc; /* Border for inputs */
    border-radius: 4px; /* Rounded corners */
    font-family: 'Georgia', serif;
}

.edit-manmainatt-container button {
    background-color: #33632d; /* Bootstrap primary color */
    color: white; /* White text */
    padding: 10px 15px; /* Padding for button */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    width: 90%; /* Full width button */
    margin-top: 10px;
    font-family: 'Georgia', serif;
}

.edit-manmainatt-container button:hover {
    background-color: #164313; /* Darker shade on hover */
}

.edit-manmainatt-container p {
    text-align: center; /* Center the message */
    color: #000000; /* Red color for error messages */
    font-size: 1em;
    margin-top: -1px;
}
